<div class="seperate-div">

	<div class="container">

		<div class="row">

			<div class="col-lg-12 text-center">
				<h2>{{'HomePage_Header1' | translate}}</h2>

				<h3>{{'HomePage_Header2' | translate}}</h3>

				<div class="welcome-images">
					<img src="src/img/GooglePlay.png">
					<img src="src/img/AppStore.png">
				</div>
			</div>

		</div>
	</div>

</div>

<div class="container">

	<div class="row pokemon-list">

		<div class="col-lg-12">

			<h3>{{'HomePage_MapHeader' | translate}}</h3>

			<div id="map"></div>
		</div>

	</div>
</div>
